PORT=3000
RECIPIENT_EMAIL=woogs4444@gmail.com
GMAIL_USER=woogs4444@gmail.com
GMAIL_APP_PASSWORD=your-gmail-app-password
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=your-google-sheet-id
